<div class="cuerpo-portafolio">
    <section class="seccion-superior">
      <article class="recuadro foto">
        <img src="assets/perfil.jpg" alt="Perfil" class="imagen-perfil">
      </article>
      <article class="recuadro-acerca">
        <h2>Acerca de Edinson</h2>
        <p>Soy un apasionado por los datos, la tecnología y la estrategia comercial. Con una trayectoria marcada por la exploración y el análisis, he convertido la información en una herramienta clave para la toma de decisiones y la apertura de mercados.

          Mi experiencia abarca desde la optimización de ventas hasta el desarrollo de soluciones basadas en datos, combinando el poder del análisis con herramientas como Python, Power BI y machine learning. Actualmente, lidero estrategias comerciales en la industria de la moda, impulsando la expansión de marcas en Latinoamérica y optimizando procesos a través de la tecnología.
          
          Este portafolio es un reflejo de mi enfoque: datos estructurados con visión comercial, herramientas que potencian la toma de decisiones y un compromiso con la innovación. Si buscas transformar información en crecimiento, aquí encontrarás un aliado estratégico.
          
          </p>
      </article>
    </section>
    <section class="seccion-inferior">
    </section>
</div>