.home-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 20px 22px; 
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.home-nombre {
  display: flex;
  align-items: center;
}

.nombre {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}

.home-menu {
  display: flex;
  margin-left: auto;
}

.home-menu ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.home-menu a:hover {
  color: #007bff;
}

@media screen and (min-width: 1440px) {
  .home-header {
    padding: 10px 0px;
  }
  .home-menu ul {
    gap: 30px;
  }
}


@media screen and (max-width: 1024px) {
  .home-header {
    padding: 15px 20px;
  }
  .nombre {
    font-size: 1.8rem;
  }
  .home-menu ul {
    gap: 15px;
  }
}

/* Móviles */
@media screen and (max-width: 768px) {
  .home-header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 15px;
  }
  .home-menu ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
